<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-4" (click)="go('/maps')">
      <div class="card">
        <img class="cardStyle card-img-top" src="https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/cc/50/d9/cc50d917-2c52-d2c8-8e47-a4ac012dd379/logo_maps_ios_color-1x_U007emarketing-85-220-0-5.png/1200x630wa.jpg" alt="Maps">
        <div class="card-body">
          <h5 class="card-title">Maps</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" (click)="go('/table')">
      <div class="card">
        <img class="cardStyle card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS4k_aRgRU-hU0fS96hwhyJGVx2KSlR3i8U1-sOeb-vgDSCKAm" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Datatables</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" (click)="go('/api')">
      <div class="card">
        <img class="cardStyle card-img-top" src="https://www1-lw.xda-cdn.com/files/2016/01/api-a397cc184c5622fb5130af1b7baf149d.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Api</h5>
        </div>
      </div>
    </div>
  </div>
</div>