.card {
    width: 20em;
    border-radius: 5px;
    border: 1px solid lightcyan;
    cursor: pointer;
}

.cardStyle {
    height: 185px;
}

.card-body {
    background: lightgrey;
    padding: 12px 15px;
}

.card-title {
    margin-bottom: 0px;
    font-weight: bold;
}